################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FourOperations/.vs/FourOperations/DesignTimeBuild/.dtbcache
/FourOperations/.vs/FourOperations/v16/Server/sqlite3/db.lock
/FourOperations/.vs/FourOperations/v16/Server/sqlite3/storage.ide-wal
/FourOperations/FourOperations/obj/FourOperations.csproj.nuget.cache
/.vs/Clone4/v16/.suo
/FourOperations/FourOperationsDemo/错题打印.txt
/FourOperations/FourOperationsDemo/打印文件Sub.txt
/FourOperations/FourOperationsDemo/打印文件Add.txt
